body{
	
	background-attachment: fixed;
	background-size: 100% 100%;
	background-image: url(/resource/image/yufeng/background.png);
	
}

.user_login{
	
	width:35%;
	height:450px;
	margin-left: 35%;
	margin-top: 100px;
	border: 1px solid #999999;
	border-radius: 30px;
	
	
}

.login_home{
	
	width: 100%;
	height: 30px;
	margin-top: 10px;
	text-align: right;
	
}

.login_home a{
	
	color: #333333;
	font-size: large;
	font-weight: bold;
	margin-right: 20px;
	
}

.web_title{
	
	width: 100%;
	height: 40px;
	
}

.web_img{
	
	width: 40%;
	height: 100%;
	margin-left: 30%;
	
}

.login_type{
	
	width: 100%;
	height: 30px;
	margin-top: 30px;
	
	
}

.login_type div{
	
	float:left;
	width:25%;
	text-align:center;
	
}

.login_type a:hover{
	
	color: #EC971F;
	text-decoration: none;
	
}

.form-group{
	
	width: 80%;
	height: 40px;
	margin-left: 10%;
	margin-top: 30px;
	
}

.form-group-btn{
	
	width: 80%;
	height: 40px;
	margin-top: 50px;
	margin-left: 10%;
	
}

.login{
	
	width: 100%;
	height: 40px;
	border: 1px solid #31B0D5;
	border-radius: 5px;
	background-color: #5BC0DE;
	color: white;
	font-size: large;
	
}

.nav li{
	
	margin-left: 130px;
	margin-top: 10px;
	
}

.nav li a{
	
	color: #204D74;
	font-size: larger;
	font-weight: lighter;
	
}

.register{
	
	width: 100%;
	height: 50px;
	
}

.register label{
	
	margin-left: 130px;
	
}